@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 24px;
}

.header__logo {
  width: 210px;
  height: 68px;
}

.header__link {
  margin-left: 35px;
  color: #FF6060;
  text-decoration: none;
}
.header__link--underlined {
  text-decoration: underline;
}

.linkActive {
  text-decoration: underline;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  padding-top: 50px;
  margin-top: 50px;
}

.footer__text {
  padding-top: 20px;
  padding-bottom: 10px;
}

.banner {
  position: relative;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}
.banner__image {
  width: 100%;
  height: 223px;
  border-radius: 25px;
  filter: brightness(50%);
}
.banner__text {
  position: absolute;
  top: 30%;
  left: 20%;
  right: 20%;
  bottom: 35%;
  color: white;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
}

.card {
  width: 240px;
  height: 240px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  margin: 20px;
}
.card__image {
  object-fit: cover;
  height: 100%;
  border-radius: 10px;
}
.card__title {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: white;
}

.home__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F6F6F6;
  border-radius: 25px;
}

.collapse {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.collapse__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6060;
  color: #FFFFFF;
  padding-left: 10px;
  border-radius: 5px;
}
.collapse__header__icon {
  display: flex;
  align-items: center;
  font-size: 30px;
  margin-right: 10px;
}
.collapse__header__icon:hover {
  cursor: pointer;
}
.collapse__description {
  color: #FF6060;
  background-color: #F6F6F6;
  padding: 25px 10px 10px 10px;
  border-radius: 5px;
}

.slideshow {
  position: relative;
  width: 100%;
  height: 415px;
  margin: auto;
  margin-bottom: 30px;
}
.slideshow__image {
  width: 100%;
  height: 415px;
  overflow: hidden;
  border-radius: 25px;
}
.slideshow__image img {
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.slideshow__arrowsLeft {
  position: absolute;
  left: 5px;
}
.slideshow__arrowsRight {
  position: absolute;
  right: 5px;
}
.slideshow__bulletpoint {
  position: absolute;
  left: 49%;
  font-size: 18px;
  bottom: 5px;
  color: white;
}

.arrow {
  top: 40%;
  font-size: 100px;
  color: white;
}
.arrow:hover {
  cursor: pointer;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FF6060;
  margin-bottom: 50px;
}
.error__404 {
  font-weight: 700;
  font-size: 288px;
  padding-bottom: 30px;
}
.error__text {
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 20px;
  padding-bottom: 100px;
}
.error__backHome {
  font-weight: 500;
  font-size: 18px;
  color: #FF6060;
}

.aboutus__collapses {
  width: 80%;
  margin: auto;
}

.lodging {
  width: 80%;
  margin: auto;
}
.lodging__informations {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  color: #FF6060;
  padding-bottom: 20px;
}
.lodging__informations__lodging {
  display: flex;
  flex-direction: column;
}
.lodging__informations__lodging__title {
  font-weight: 500;
  font-size: 36px;
  padding-bottom: 15px;
}
.lodging__informations__lodging__location {
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 5px;
}
.lodging__informations__lodging__tags {
  display: flex;
  padding: 0px;
}
.lodging__informations__lodging__tags__tag {
  background-color: #FF6060;
  list-style: none;
  color: white;
  padding: 3px 20px 3px 20px;
  margin-right: 15px;
  border-radius: 10px;
  font-size: 14px;
}
.lodging__informations__hostAndRate {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.lodging__informations__hostAndRate__host {
  display: flex;
  align-items: center;
}
.lodging__informations__hostAndRate__host__name {
  font-size: 18px;
  padding-right: 10px;
}
.lodging__informations__hostAndRate__host__picture {
  border-radius: 50%;
  width: 64px;
}
.lodging__informations__hostAndRate__host__picture img {
  border-radius: 50%;
  width: 64px;
}
.lodging__collapses {
  display: flex;
  justify-content: space-between;
}
.lodging__collapses__collapse {
  width: 48%;
}
.lodging__collapses__collapse p {
  margin: 0;
  padding: 5px;
}

.rating {
  display: flex;
  justify-content: space-between;
}
.rating__greyStar {
  color: #E3E3E3;
}

/*# sourceMappingURL=style.css.map */
